.Book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  width: 100%;
  margin: 0 20px;
}

.Book:hover {
  cursor: pointer;
  background-color: darkgray;
  border-radius: 12px;
}
.Book__left {
  padding-left: 20px;
}
.Book__right {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Book__right button {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Book__right:hover button {
  background-color: darkgreen;
}

.Book__right a {
  text-decoration: none;
}
